@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
:root {
  --bg: #212936;
  --bg-light: #394150;
  --bgDark: #121826;
  --primary: #0077C1;
  --primaryHover: #26ACFF;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.62;
}

body {
  background: var(--bg);
}

footer {
  background-color: var(--bgDark);
  text-align: center;
  color: #414E62;
  padding: 30px 0;
  margin-top: 40px;
}
footer .footLogo {
  margin-bottom: 12px;
}
footer span {
  font-size: 12px;
}
footer address {
  margin: 0;
}
footer .divider {
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: #414E62;
  margin: 0 7px;
}
footer a {
  color: inherit;
}
footer .nav {
  justify-content: center;
  margin: 0 0 14px;
  font-size: 13px;
}
footer .nav .nav-item a {
  text-decoration: none;
  margin: 0 10px;
  color: #8a9cb9;
}
footer .nav .nav-item a:hover {
  color: #d6e6ff;
}
@media screen and (max-width: 991px) {
  footer .nav {
    flex-direction: column;
  }
  footer .nav .nav-item {
    border-top: 1px solid #1e2838;
  }
  footer .nav .nav-item a {
    display: block;
    width: 100%;
    padding: 8px;
  }
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 991px) {
  .inner {
    padding: 0 15px;
  }
}

@media screen and (max-width: 991px) {
  .innerFull {
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.header {
  display: none;
}
.header .goodData-logo {
  height: 34px;
}
.header .navbar-toggler {
  border: 0;
  box-shadow: none;
  margin-right: -10px;
}
.header .navbar-toggler-icon {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header .navbar-toggler-icon .hamburger-bar {
  width: 26px;
  height: 2px;
  background-color: var(--primary);
}
.header #navbarNav {
  justify-content: flex-end;
}
.header #navbarNav .nav-link {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}
.header #navbarNav .nav-link:hover {
  color: #000;
}
.header #navbarNav .navbar-nav .nav-link.active,
.header #navbarNav .navbar-nav .nav-link.show {
  color: #000;
}
@media screen and (max-width: 991px) {
  .header #navbarNav {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 8px;
    margin-bottom: -8px;
    width: 100vw;
    background-color: var(--primary);
    color: #fff;
  }
  .header #navbarNav .nav-link {
    font-size: 16px;
    color: #fff !important;
    text-align: center;
  }
  .header #navbarNav .nav-link:hover {
    background-color: var(--primaryHover);
  }
}

@media screen and (max-width: 991px) {
  .header {
    background-color: transparent !important;
    width: 100vw;
    margin-bottom: -60px;
  }
  .header .navbar-brand {
    visibility: hidden;
  }
  .header #navbarNav {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0;
  }
}
.mainVisual {
  padding: 24px 0 17px;
  background-color: var(--bg-light);
  color: white;
  font-weight: 400;
  font-size: 13px;
}
.mainVisual h2 {
  font-weight: 100;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0;
}
.mainVisual h1 {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 16px;
}
.mainVisual p {
  margin-bottom: 3px;
  line-height: 16px;
}
.mainVisual .updateInfo {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.4);
}
.mainVisual .updateInfo .update {
  color: var(--primary);
}

.mainCon {
  padding-top: 24px;
  color: #fff;
}
.mainCon .tabTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;
}
.mainCon .tabTitle h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}
.mainCon .tabTitle .btn {
  background-color: transparent !important;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
}
.mainCon .tabTitle .btn.share {
  background: url(../img/ic_share.svg) center/cover no-repeat;
  margin-left: 10px;
}
.mainCon .tabTitle .btn.download {
  background: url(../img/ic_download.svg) center/cover no-repeat;
}
.mainCon .tab {
  border: 1px solid #394150;
  border-left: 0;
  border-right: 0;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}
.mainCon .tab .nav-item {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCon .tab .nav-item .nav-link {
  width: 100%;
  border-radius: 0;
  border: 0;
  border-right: 1px solid var(--bg-light);
  color: #fff;
  padding: 14px 0;
}
.mainCon .tab .nav-item .nav-link.active {
  background-color: var(--bg-light);
}
.mainCon .tab .nav-item:first-child .nav-link {
  border-left: 1px solid var(--bg-light);
}
.mainCon .typeFilter {
  position: relative;
  border: 0;
  margin-bottom: 24px;
  gap: 4px;
}
.mainCon .typeFilter .nav-link {
  border-radius: 0;
  border: 0;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 12px 16px;
  width: auto;
  height: auto;
}
.mainCon .typeFilter .nav-link.active {
  background-color: var(--bg-light);
}
.mainCon .typeFilter .label {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #586477;
}
.mainCon .typeFilter .label Select {
  /* 0926 css, 이미지 추가 */
  font-family: inherit;
  border: 0;
  background: var(--bg-light) url(../img/_ic_select_arr.svg) 90% 50% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #9DA3AE;
  padding: 10px 25px 10px 10px;
}
.mainCon .typeFilter .label Select::-ms-expand {
  /* 0926 css 추가 */
  display: none;
}
@media screen and (max-width: 991px) {
  .mainCon .typeFilter .label {
    right: 5px;
  }
}
.mainCon .accordion {
  border: 0;
}
.mainCon .accordion-item {
  border: 0;
  border-radius: 0 !important;
  background-color: var(--bgDark);
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
}
.mainCon .accordion-item + .accordion-item {
  margin-top: 4px;
}
.mainCon .accordion-item:has(.accordion-collapse) .accordion-button {
  cursor: pointer;
}
.mainCon .accordion-item:has(.accordion-collapse) .hasLink {
  display: block;
}
.mainCon .accordion-button {
  cursor: default;
  box-shadow: none;
  outline: 0;
  border-radius: 0 !important;
  background-color: var(--bg-light);
  border: 0;
  color: #fff;
  gap: 14px;
  position: relative;
  padding: 14px 10px;
  align-items: flex-start;
}
.mainCon .accordion-button::after {
  display: none;
}
.mainCon .accordion-button .rank {
  min-width: 19px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.mainCon .accordion-button .thumbImg {
  width: 59px;
  height: 87px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainCon .accordion-button .infoWrap {
  font-weight: 400;
  font-size: 13px;
}
.mainCon .accordion-button .infoWrap .tit {
  font-size: 16px;
}
.mainCon .accordion-button .infoWrap .subTit {
  opacity: 0.5;
  margin-top: 2px;
}
.mainCon .accordion-button .infoWrap .introduce {
  margin: 8px 0;
}
.mainCon .accordion-button .infoWrap .divider {
  width: 1px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  margin: 0 6px;
}
.mainCon .accordion-button .infoWrap .value1 {
  margin-top: 14px;
}
.mainCon .accordion-button .infoWrap .value2 {
  margin-top: 2px;
}
.mainCon .accordion-button .score {
  position: absolute;
  top: 14px;
  right: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.mainCon .accordion-button .hasLink {
  position: absolute;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  bottom: 17px;
  right: 20px;
  color: rgba(255, 255, 255, 0.5);
  display: none;
}
.mainCon .accordion-button .fundex {
  /* 0926 css 추가 */
  position: absolute;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  bottom: 17px;
  right: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.mainCon .accordion-button:has(.fundex) {
  cursor: pointer;
}
.mainCon .accordion-body .btn {
  width: 100%;
}

.offcanvas {
  background: rgba(33, 41, 54, 0.95);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #fff;
}

.btn {
  border: 0;
  outline: 0;
  box-shadow: none;
  padding: 11px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  border-radius: 2px;
  background-color: #099BF5 !important;
  color: #fff;
}
.btn:hover {
  background-color: var(--primaryHover) !important;
}

.detailInfo {
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.detailInfo .tit {
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
}
.detailInfo .value {
  padding-bottom: 10px;
}

.chartTit {
  margin-bottom: 23px;
  margin-top: 50px;
}

.chartWrap {
  height: 210px;
}

.tableWrap {
  margin-top: 30px;
}
.tableWrap .tableItem {
  padding-left: 100px;
  position: relative;
}
.tableWrap .tableItem + .tableItem {
  margin-top: 15px;
}
.tableWrap table {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  border-collapse: collapse;
}
.tableWrap th, .tableWrap td {
  border: 1px solid #394150;
  text-align: center;
  padding: 10px;
}
.tableWrap th {
  background: rgba(255, 255, 255, 0.04);
}
.tableWrap td {
  color: #C79A2E;
}
.tableWrap .under {
  position: relative;
  padding-left: 19px;
}
.tableWrap .under::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;
  display: block;
  width: 5px;
  height: 6px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 0;
  border-right: 0;
}
.tableWrap .average {
  color: #099BF5;
}
.tableWrap .headerTable {
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
.tableWrap .headerTable th {
  text-align: left;
}
.tableWrap .scrollDiv {
  margin-left: -1px;
  overflow: auto;
}
.tableWrap .bodyTable {
  width: 100%;
}

.mainAbout {
  padding-top: 40px;
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
  color: #899CB9;
}
.mainAbout .text {
  color: #586477;
  margin-top: 4px;
  margin-bottom: 16px;
}

.offcanvas-header {
  padding: 24px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.offcanvas-header .offcanvas-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #099BF5;
}
.offcanvas-header .btn-close {
  width: 34px;
  height: 34px;
  border: 0;
  right: 8px;
  box-sizing: border-box;
  background: url(../img/offcanvas-close.svg) center/cover no-repeat;
}

.offcanvas-body {
  padding: 10px;
}

.fxChain1 {
  max-width: 80vw;
}
.fxChain1 .title {
  padding: 10px 0;
}
.fxChain1 .title .tit {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.fxChain1 .title .subTit {
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 2px;
}
.fxChain1 .chain {
  padding: 8px 0;
}
.fxChain1 .chain .person {
  margin-bottom: 5px;
  position: relative;
}
.fxChain1 .chain .person::after {
  content: "FUNdex";
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  color: #586477;
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
}
.fxChain1 .chain .person .name {
  font-weight: 400;
  font-size: 14px;
  line-height: 162%;
}
.fxChain1 .chain .person .role {
  height: 21px;
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #181E29;
  color: #586477;
  font-size: 12px;
}
.fxChain1 .chain .list {
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  line-height: 162%;
  margin-bottom: 16px;
}
.fxChain1 .chain .list li {
  padding: 3px 10px;
  background-color: #394150;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.fxChain1 .chain .list li + li {
  margin-top: 1px;
}
.fxChain1 .chain .list .year {
  color: rgba(255, 255, 255, 0.3);
}
.fxChain1 .chain .list .year::after {
  content: "";
  background: rgba(156, 160, 167, 0.5);
  width: 1px;
  height: 10px;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
}
.fxChain1 .chain .list .work {
  flex: 1 0 0;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 4px;
}
.fxChain1 .chain .list .fundex {
  flex: 0 0 30px;
  width: 30px;
  text-align: center;
  color: #099BF5;
}

.fxChain2 {
  max-width: 80vw;
  line-height: 162%;
  font-weight: 400;
  font-size: 13px;
}
.fxChain2 .top {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin-bottom: 20px;
}
.fxChain2 .img {
  width: 90px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.fxChain2 .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}
.fxChain2 .name-en {
  color: rgba(255, 255, 255, 0.5);
}
.fxChain2 .agency {
  color: #586477;
  margin-bottom: 9px;
}
.fxChain2 .offcanvas-body {
  padding: 10px 16px;
}
.fxChain2 .history {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
}
.fxChain2 .history table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.fxChain2 .history table th, .fxChain2 .history table td {
  text-align: center;
  padding: 4px;
  border-bottom: 1px solid #434C5E;
}
.fxChain2 .history table th:first-child, .fxChain2 .history table td:first-child {
  text-align: left;
}
.fxChain2 .history table th:nth-child(2), .fxChain2 .history table td:nth-child(2) {
  /* evoke0523: 두번째컬럼 width 수정 */
  width: 64px;
}
.fxChain2 .history table th:nth-child(3), .fxChain2 .history table td:nth-child(3) {
  /* evoke0523: 세번째컬럼 width 수정 */
  width: 100px;
}
.fxChain2 .history table th {
  color: #586477;
  padding-bottom: 8px;
}
.fxChain2 .history table td:nth-child(2) {
  color: #099BF5;
}
.fxChain2 .guide {
  font-weight: 400;
  line-height: 162%;
  font-size: 12px;
  color: #586477;
}
.fxChain2 .guide table {
  width: 100%;
}
.fxChain2 .guide .tit {
  font-size: 14px;
  margin-bottom: 9px;
}
.fxChain2 .guide table {
  border-collapse: collapse;
  margin-bottom: 9px;
}
.fxChain2 .guide th, .fxChain2 .guide td {
  font-size: 13px;
  padding: 4px 6px;
  border-top: 1px solid #4A5366;
  border-bottom: 1px solid #4A5366;
}
.fxChain2 .guide th {
  background: #394150;
  color: rgba(255, 255, 255, 0.5);
  word-break: keep-all;
  width: 120px;
}
.fxChain2 .guide p {
  margin-bottom: 4px;
}

.modal:has(.snsWRap) .modal-body {
  padding: 20px;
}
.modal:has(.snsWRap) .snsWRap {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
.modal:has(.snsWRap) .sns {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.modal:has(.snsWRap) .sns.facebook .img {
  background: url(../img/sns_facebook.svg) center/cover no-repeat;
}
.modal:has(.snsWRap) .sns.kakao .img {
  background: url(../img/sns_kakao.svg) center/cover no-repeat;
}
.modal:has(.snsWRap) .sns.twitter .img {
  background: url(../img/sns_twitter.svg) center/cover no-repeat;
}
.modal:has(.snsWRap) .sns .img {
  display: block;
  width: 52px;
  height: 52px;
}
.modal:has(.snsWRap) .sns .tit {
  font-size: 13px;
  text-align: center;
  margin-top: 4px;
  color: #333;
}
.modal:has(.snsWRap) .linkCopy {
  display: flex;
  align-items: center;
}
.modal:has(.snsWRap) .linkCopy input {
  flex: 1 0 0;
  display: block;
  height: 46px;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #e1e1e1;
}
.modal:has(.snsWRap) .linkCopy .copyBtn {
  flex: 0 0 auto;
  width: 80px;
  display: block;
  height: 46px;
  margin: 0;
  border-radius: 0 4px 4px 0;
  border: 1px solid #e1e1e1;
  border-left: 0;
  font-size: 13px;
}

.page {
  padding: 36px 0;
}
.page h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.page h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}
.page .pageDesc {
  font-size: 13px;
  line-height: 162%;
  color: #FFFFFF;
  display: block;
  margin-top: 45px;
  margin-bottom: 10px;
}

.news .news_bbs_wrap {
  padding: 0;
  margin-bottom: 45px;
}
.news .news_bbs_wrap li {
  padding: 9px 14px;
  background: #394150;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  height: 50px;
}
.news .news_bbs_wrap li + li {
  margin-top: 1px;
}
.news .news_bbs_wrap li:hover {
  background-color: #434c5e;
}
.news .news_bbs_wrap li .news_title {
  flex: 1 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  color: #FFFFFF;
  text-decoration: none;
}
.news .news_bbs_wrap li .news_date {
  flex: 0 0 70px;
  width: 70px;
  color: rgba(255, 255, 255, 0.5);
}

.news_paging {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-bottom: 85px;
}
.news_paging a {
  width: 34px;
  height: 34px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #899CB9;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
}
.news_paging a:hover, .news_paging a.on {
  color: #099BF5;
}
.news_paging dd {
  margin: 0;
}
.news_paging .next_btn {
  background: rgba(255, 255, 255, 0.04) url(../img/nextBtn.svg) center/cover no-repeat;
}
.news_paging .next_btn:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.news_paging dt:last-child .next_btn {
  transform: rotate(180deg);
}
.pageDetail {
  padding: 24px 0 20px;
}
.pageDetail .tit {
  font-weight: 400;
  font-size: 20px;
  line-height: 162%;
  color: #FFFFFF;
  margin-bottom: 4px;
}
.pageDetail .subTit {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}
.pageDetail .subTit .author {
  display: flex;
  align-items: center;
}
.pageDetail .subTit .author::after {
  content: "";
  display: inline-block;
  margin: 0 8px;
  width: 1px;
  height: 10px;
  background: rgba(156, 160, 167, 0.5);
}
.detailContents .innerFull .text {
  padding: 20px;
  background-color: #394150;
  font-weight: 400;
  font-size: 14px;
  line-height: 162%;
  color: #FFFFFF;
}
.detailContents .innerFull .text p {
  margin: 0;
}
.detailContents .innerFull .text img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}
.detailContents .innerFull .attachWrap {
  margin-bottom: 50px;
}
.detailContents .innerFull .attachment {
  height: 53px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 162%;
  border-bottom: 1px solid #394150;
  margin-bottom: 17px;
}
.detailContents .innerFull .attachment .count {
  color: rgba(255, 255, 255, 0.5);
}
.detailContents .innerFull .attachment .download {
  color: #099BF5;
  text-decoration: none;
}
.detailContents .innerFull .attachment .download:hover {
  text-decoration: underline;
}
.detailContents .innerFull .attachmentFile {
  padding: 0 20px;
}
.detailContents .innerFull .attachmentFile .item {
  margin-bottom: 10px;
}
.detailContents .innerFull .attachmentFile .item a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 0 10px;
  background-color: #394150;
  font-weight: 400;
  font-size: 12px;
  line-height: 162%;
  color: #FFFFFF;
  text-decoration: none;
}
.detailContents .innerFull .attachmentFile .item a:hover {
  text-decoration: underline;
}
.detailContents .innerFull .attachmentFile .item .vol {
  font-size: 12px;
  line-height: 162%;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}
.detailContents .innerFull .back {
  margin-left: 13px;
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
  background: url(../img/ic_pageBack.svg) left center no-repeat;
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 162%;
  color: #FFFFFF;
  text-decoration: none;
}
.detailContents .innerFull .back:hover {
  text-decoration: underline;
}

.serviceVideo {
  margin-bottom: 45px;
}
.serviceVideo video {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #000;
}
.serviceVideo .disc {
  display: block;
  font-size: 12px;
  line-height: 162%;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 8px;
  margin-right: 20px;
}

.gdService .innerFull {
  padding: 0;
}
.gdService .item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 14px 20px;
  background-color: #394150;
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
  color: #FFFFFF;
}
.gdService .item .itemImg {
  width: 30%;
  max-width: 160px;
  min-width: 123px;
  aspect-ratio: 123/77;
  flex: 0 0 30%;
}
.gdService .item p {
  margin: 0;
  margin-left: 10px;
}

.companyHistory {
  margin-bottom: 56px;
}
.companyHistory ul {
  padding: 40px 0;
  background-image: linear-gradient(180deg, #212936 0%, rgba(33, 41, 54, 0) 13.02%, rgba(33, 41, 54, 0) 86.46%, #212936 100%), linear-gradient(180deg, #0077C1 0%, #FDB813 100%);
  background-size: 2px 100%;
  background-position: 6px 0;
  background-repeat: no-repeat;
}
.companyHistory li {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 142%;
  color: #FFFFFF;
}
.companyHistory li + li {
  margin-top: 27px;
}
.companyHistory li .item p {
  margin: 0;
}
.companyHistory li .item p + p {
  margin-top: 8px;
}
.companyHistory li .year {
  padding-left: 31px;
  box-sizing: border-box;
  width: 100px;
  flex: 0 0 100px;
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 142%;
}
.companyHistory li .year::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background-color: #212936;
  border: 4px solid white;
}
.companyHistory li:nth-child(1) .year {
  color: #1C7FAF;
}
.companyHistory li:nth-child(1) .year::before {
  border-color: #1C7FAF;
}
.companyHistory li:nth-child(2) .year {
  color: #35859E;
}
.companyHistory li:nth-child(2) .year::before {
  border-color: #35859E;
}
.companyHistory li:nth-child(3) .year {
  color: #4A8A8F;
}
.companyHistory li:nth-child(3) .year::before {
  border-color: #4A8A8F;
}
.companyHistory li:nth-child(4) .year {
  color: #6D9377;
}
.companyHistory li:nth-child(4) .year::before {
  border-color: #6D9377;
}
.companyHistory li:nth-child(5) .year {
  color: #939D5D;
}
.companyHistory li:nth-child(5) .year::before {
  border-color: #939D5D;
}
.companyHistory li:nth-child(6) .year {
  color: #A7A24F;
}
.companyHistory li:nth-child(6) .year::before {
  border-color: #A7A24F;
}
.companyHistory li:nth-child(7) .year {
  color: #C3A93C;
}
.companyHistory li:nth-child(7) .year::before {
  border-color: #C3A93C;
}
.companyHistory li:nth-child(8) .year {
  color: #C69E2A;
}
.companyHistory li:nth-child(8) .year::before {
  border-color: #C69E2A;
}

.issueSection {
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
  color: #AAB8CE;
  margin-bottom: 92px;
  margin-top: 12px;
}
.issueSection .emptySpace {
  padding-top: 80px;
}
.issueSection .conWrap {
  margin-bottom: 32px;
}
.issueSection .conWrap h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.issueSection .conWrap ul {
  padding: 0;
  margin: 0;
}
.issueSection .conWrap li {
  padding-left: 19px;
  position: relative;
}
.issueSection .conWrap li::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 9px;
  width: 2.5px;
  height: 2.5px;
  border-radius: 2.5px;
  background-color: #AAB8CE;
}
.issueSection .conWrap li + li {
  margin-top: 8px;
}
.issueSection .conWrap .blueTit {
  color: #099BF5;
  width: 75px;
  flex: 0 0 75px;
  display: block;
}
.issueSection .conWrap li:has(.blueTit) {
  display: flex;
}
.issueSection .conWrap li:has(.blueTit)::before {
  background-color: #099BF5;
}
.issueSection .analyze .subTit {
  font-weight: 400;
  font-size: 13px;
  line-height: 162%;
  color: #099BF5;
  margin-bottom: 5px;
}
.issueSection .analyze .tit {
  font-weight: 700;
  font-size: 32px;
  line-height: 132%;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.issueSection .analyze table {
  width: 100%;
  table-layout: fixed;
  font-size: 13px;
  line-height: 162%;
}
.issueSection .analyze table th {
  font-weight: 700;
  color: #FFFFFF;
  padding: 10px 0;
  border-bottom: 1px solid #FFFFFF;
}
.issueSection .analyze table td {
  padding: 8px 0;
  font-weight: 400;
  color: #AAB8CE;
}
.issueSection .analyze table td:first-child {
  color: #ffffff;
}
.issueSection .analyze table th:first-child, .issueSection .analyze table td:first-child {
  width: 30%;
  padding-right: 10px;
}
.issueSection .analyze table .firstRow td {
  padding-top: 16px;
}
.issueSection .diagram {
  text-align: center;
  background-color: #394150;
  padding: 40px 0;
  margin-top: -16px;
}
.issueSection .diagram img {
  width: 100%;
  max-width: 420px;
}/*# sourceMappingURL=renewStyle.css.map */