@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
    --bg : #212936;
    --bg-light : #394150;
    --bgDark : #121826;
    --primary : #0077C1;
    --primaryHover : #26ACFF;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.62;
}
body {
    background: var(--bg);
}
footer {
    background-color: var(--bgDark);
    text-align: center;
    color: #414E62;
    padding: 30px 0;
    margin-top: 40px;
    .footLogo {
        margin-bottom: 12px;
    }
    span {
        font-size: 12px;
    }
    address {
        margin: 0;
    }
    .divider {
        display: inline-block;
        width: 1px;
        height: 8px;
        background-color: #414E62;
        margin: 0 7px;
    }
    a {
        color: inherit;
    }
    .nav {
        justify-content: center;
        margin: 0 0 14px;
        font-size: 13px;
        .nav-item a {
            text-decoration: none;
            margin: 0 10px;
            color: #8a9cb9;
            &:hover {
                color: #d6e6ff;
            }
        }
    }
    @media screen and (max-width:991px) {
        .nav {
            flex-direction: column;
            .nav-item {
                border-top: 1px solid #1e2838;
                a {
                    display: block;
                    width: 100%;
                    padding: 8px;
                }
            }
        }
    }
}

$innerPadding:15px;

.inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width:991px) {
        padding: 0 $innerPadding;
    }
}
@media screen and (max-width:991px) {
    .innerFull {
        width: 100vw;
        margin-left: -$innerPadding;
        margin-right: -$innerPadding;
    }
}

.header {
    display: none;
    .goodData-logo {
        height: 34px;
    }
    .navbar-toggler {
        border: 0;
        box-shadow: none;
        margin-right: -10px;
    }
    .navbar-toggler-icon {
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .hamburger-bar {
            width: 26px;
            height: 2px;
            background-color: var(--primary);
        }
    }
    #navbarNav {
        justify-content: flex-end;
        .nav-link {
            color: rgba(0,0,0,0.6);
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
            &:hover {
                color: #000;
            }
        }
        // .navbar-nav {
        //     margin-right: -15px;
        // }
        .navbar-nav .nav-link.active, 
        .navbar-nav .nav-link.show {
            color: #000;
        }
        @media screen and (max-width:991px) {
            margin-left: -$innerPadding - 1px;
            margin-right: -$innerPadding - 1px;
            margin-top: 8px;
            margin-bottom: -8px;
            width: 100vw;
            background-color: var(--primary);
            color: #fff;
            .nav-link {
                font-size: 16px;
                color: #fff !important;
                text-align: center;
                &:hover {
                    background-color: var(--primaryHover);
                }
            }
            .navbar-nav {
                // padding: 10px 0;
            }
        }
    }
}

// evoke0523 : 모바일버전에서 헤더 숨김
@media screen and (max-width:991px) {
    .header {
        background-color: transparent !important;
        width: 100vw;
        margin-bottom: -60px;
        .navbar-brand {
            // display: none;
            visibility: hidden;
        }
        #navbarNav {
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            margin: 0;
        }
    }
}

.mainVisual {
    padding: 24px 0 17px;
    background-color: var(--bg-light);
    color: white;
    font-weight: 400;
    font-size: 13px;
    h2 {
        font-weight: 100;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 0;
    }
    h1 {
        // font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 3px;
        line-height: 16px;
    }
    .updateInfo {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        color: rgba(255,255,255,0.4);
        .update {
            color: var(--primary);
        }
    }

    .twoCol {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        .awardBanner {
            flex: 1 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: #fff;
            font-size: 13px;
            @media screen and (max-width:662px) {
                align-items: center;
                gap: 5px;
                a {
                    text-align: center;
                    font-size: 15px;
                    padding: 5px;
                }
                .awardYear {
                    font-size: 16px !important;
                }
            }
            .imgWrap {
                position: relative;
                img {
                    max-width: 320px;
                    width: 90vw;
                }
                .awardYear {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 18px;
                    font-weight: bold;
                    padding: 8px;
                }
            }
            a {
                display: inline-block;
                color: #fff;
                &.aboutReport {
                    color: #FFEA9D;
                }
            }
        }
    }
    
}

.mainCon {
    padding-top: 24px;
    color: #fff;
    .tabTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 16px;
        h1 {
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            margin: 0;
        }
        .btn {
            background-color: transparent !important;
            text-indent: -9999px;
            width:36px;
            height: 36px;
            &.share {
                background: url(../img/ic_share.svg) center/cover no-repeat;
                margin-left: 10px;
            }
            &.download {
                background: url(../img/ic_download.svg) center/cover no-repeat;
            }
        }
    }
    .tab {
        border: 1px solid #394150;
        border-left: 0;
        border-right: 0;
        margin-bottom: 16px;
        flex-wrap: nowrap;
        .nav-item {
            flex: 1 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .nav-link {
                width: 100%;
                border-radius: 0;
                border: 0;
                border-right: 1px solid var(--bg-light);
                color: #fff;
                padding: 14px 0;
                &.active {
                    background-color: var(--bg-light);
                }
            }
            &:first-child .nav-link {
                border-left: 1px solid var(--bg-light);
            }
        }
    }
    .typeFilter {
        position: relative;
        border: 0;
        margin-bottom: 24px;
        gap: 4px;
        .nav-link {
            border-radius: 0;
            border: 0;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            padding: 12px 16px;
            width: auto;
            height: auto;
            &.active {
                background-color: var(--bg-light);
            }
        }

        
        .label {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #586477;
            Select {
                /* 0926 css, 이미지 추가 */
                font-family: inherit;
                border: 0;
                background: var(--bg-light) url(../img/ic_select_arr.svg) 90% 50% no-repeat;
                -webkit-appearance: none; 
                -moz-appearance: none;
                appearance: none;
                color: #9DA3AE;
                padding: 10px 25px 10px 10px;
            }
            Select::-ms-expand {
                /* 0926 css 추가 */
                display: none;
            }

            @media screen and (max-width:991px) {
                right: 5px;
            }
        }
    }
    .accordion {
        border: 0;
    }
    .accordion-item {
        border: 0;
        border-radius: 0 !important;
        background-color: var(--bgDark);
        color: #fff;
        font-weight: 400;
        font-size: 13px;
        line-height: 162%;
        & + .accordion-item {
            margin-top: 4px;
        }
        &:has(.accordion-collapse) {
            .accordion-button {
                cursor: pointer;
            }
            .hasLink {
                display: block;
            }
        }
    }
    
    .accordion-button {
        cursor: default;
        box-shadow: none;
        outline: 0;
        border-radius: 0 !important;
        background-color: var(--bg-light);
        border: 0;
        color: #fff;
        gap: 14px;
        position: relative;
        padding: 14px 10px;
        align-items: flex-start;
        &::after {
            display: none;
        }
        .rank {
            min-width: 19px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }
        .thumbImg {
            width: 59px;
            height: 87px;
            object-fit: cover;
        }
        .infoWrap {
            font-weight: 400;
            font-size: 13px;
            .tit {
                font-size: 16px;
            }
            .subTit {
                opacity: 0.5;
                margin-top: 2px;
            }
            .introduce {
                margin: 8px 0;
            }
            .divider {
                width: 1px;
                height: 8px;
                background: rgba(255, 255, 255, 0.4);
                margin: 0 6px;
            }
            .value1 {
                margin-top: 14px;
            }
            .value2 {
                margin-top: 2px;
            }
        }
        .score {
            position: absolute;
            top: 14px;
            right: 20px;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
        }

        .hasLink {
            position: absolute;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            bottom: 17px;
            right: 20px;
            color: rgba(255, 255, 255, 0.5);
            display: none;
        }

        
        .fundex {
            /* 0926 css 추가 */
            position: absolute;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            bottom: 17px;
            right: 20px;
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
        }
        &:has(.fundex) {
            cursor: pointer;
        }
    }
    .accordion-body {

        .btn {
            width: 100%;
        }
    }
}

.offcanvas {
    background: rgba(33, 41, 54, 0.95);
    backdrop-filter: blur(10px);
    color: #fff;
}

.btn {
    border: 0;
    outline: 0;
    box-shadow: none;
    padding: 11px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    border-radius: 2px;
    background-color: #099BF5 !important;
    color: #fff;
    &:hover {
        background-color: var(--primaryHover) !important;
    }
}

@mixin detailInfo {
    .detailInfo {
        font-weight: 400;
        font-size: 13px;
        line-height: 162%;
        color: #FFFFFF;
        .tit {
            color: rgba(255,255,255,0.5);
            padding-bottom: 4px;
        }
        .value {
            padding-bottom: 10px
        }
        margin-bottom: 20px
    }
}
@include detailInfo;

.chartTit {
    margin-bottom: 23px;
    margin-top: 50px;
}
.chartWrap {
    height: 210px;
}

.tableWrap {
    margin-top: 30px;
    // overflow: auto;
    .tableItem {
        padding-left: 100px;
        position: relative;
        & + .tableItem {
            margin-top:15px;
        }
    }
    table {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        border-collapse: collapse;
    }
    th,td {
        border: 1px solid #394150;
        text-align: center;
        padding: 10px;
    }
    th {
        background: rgba(255, 255, 255, 0.04);
    }
    td {
        color: #C79A2E;
    }
    .under {
        position: relative;
        padding-left: 19px;
        &::before {
            content: '';
            position: absolute;
            top: 14px;
            left: 10px;
            display: block;
            width: 5px;
            height: 6px;
            border: 1px solid rgba(255, 255, 255, 0.7);
            border-top: 0;
            border-right: 0;
        }
    }
    .average {
        color: #099BF5;
    }
    .headerTable {
        width: 100px;
        position: absolute;
        left: 0;
        top: 0;
        th {
            text-align: left;
        }
    }
    .scrollDiv {
        margin-left: -1px;
        overflow: auto;
    }
    .bodyTable {
        width: 100%;
    }
}

.mainAbout {
    padding-top: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 162%;
    color: #899CB9;
    .text {
        color: #586477;
        margin-top: 4px;
        margin-bottom: 16px;
    }
}

@mixin offcanvas {
    .offcanvas-header {
        padding: 24px 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        .offcanvas-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
            color: #099BF5;
        }
        .btn-close {
            width: 34px;
            height: 34px;
            border:0;
            right: 8px;
            box-sizing: border-box;
            background: url(../img/offcanvas-close.svg) center/cover no-repeat;
        }
    }
    .offcanvas-body {
        padding: 10px 
    }
}
@include offcanvas;

.fxChain1 {
    max-width: 80vw;
    .title {
        padding: 10px 0;
        .tit {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
        .subTit {
            font-size: 13px;
            line-height: 16px;
            color: rgba(255, 255, 255, 0.5);
            margin-top: 2px;
        }
    }
    .chain {
        padding: 8px 0;
        .person {
            margin-bottom: 5px;
            position: relative;
            &::after {
                content: 'FUNdex';
                position: absolute;
                top: 50%;
                right: 6px;
                transform: translateY(-50%);
                color: #586477;
                font-weight: 400;
                font-size: 13px;
                line-height: 162%;
            }
            .name {
                font-weight: 400;
                font-size: 14px;
                line-height: 162%;
            }
            .role {
                height: 21px;
                display: inline-flex;
                align-items: center;
                margin-left: 4px;
                padding: 1px 4px;
                border-radius: 4px;
                background-color: #181E29;
                color: #586477;
                font-size: 12px;
            }
        }
        .list {
            padding: 0;
            border-radius: 8px;
            overflow: hidden;
            font-size: 13px;
            font-weight: 400;
            line-height: 162%;
            margin-bottom: 16px;
            li {
                padding: 3px 10px;
                background-color: #394150;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
            }
            li + li {
                margin-top: 1px;
            }
            .year {
                color: rgba(255, 255, 255, 0.3);
                &::after {
                    content: '';
                    background: rgba(156, 160, 167, 0.5);
                    width: 1px;
                    height: 10px;
                    display: inline-block;
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }
            .work {
                flex: 1 0 0;
                color: rgba(255, 255, 255, 0.7);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 4px;
            }
            .fundex {
                flex: 0 0 30px;
                width: 30px;
                text-align: center;
                color: #099BF5;
            }
        }
    }
}


.fxChain2 {
    max-width: 80vw;
    line-height: 162%;
    font-weight: 400;
    font-size: 13px;
    .top {
        display: flex;
        align-items: flex-end;
        gap: 15px;
        margin-bottom: 20px;
    }
    .img {
        width: 90px;
        height: 120px;
        object-fit: cover;
    }
    .name {
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
    }
    .name-en {
        color: rgba(255, 255, 255, 0.5);
    }
    .agency {
        color: #586477;
        margin-bottom: 9px;
    }
    .offcanvas-body {
        padding: 10px 16px;
    }
    .history {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 13px;
        line-height: 162%;
        table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            th,td {
                text-align: center;
                padding: 4px;
                border-bottom: 1px solid #434C5E;
                &:first-child {
                    text-align: left;
                }
                &:nth-child(2) {
                    /* evoke0523: 두번째컬럼 width 수정 */
                    width: 64px;
                }
                &:nth-child(3) {
                    /* evoke0523: 세번째컬럼 width 수정 */
                    width: 100px;
                }
            }
            th {
                color: #586477;
                padding-bottom: 8px;
            }
            td:nth-child(2) {
                color: #099BF5;
            }
        }
    }
    .guide {
        font-weight: 400;
        line-height: 162%;
        font-size: 12px;
        color: #586477;
        table {
            width: 100%;
        }
        .tit {
            font-size: 14px;
            margin-bottom: 9px;
        }
        table {
            border-collapse: collapse;
            margin-bottom: 9px;
        }
        th,td {
            font-size: 13px;
            padding: 4px 6px;
            border-top: 1px solid #4A5366;
            border-bottom: 1px solid #4A5366;
        }
        th {
            background: #394150;
            color: rgba(255, 255, 255, 0.5);
            word-break: keep-all;
            width: 120px;
        }
        p {
            margin-bottom: 4px;
        }
    }
}
.modal:has(.snsWRap) {
    .modal-body {
        padding: 20px;
    }
    .snsWRap {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
    }
    .sns {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        &.facebook .img {background: url(../img/sns_facebook.svg) center/cover no-repeat;}
        &.kakao .img {background: url(../img/sns_kakao.svg) center/cover no-repeat;}
        &.twitter .img {background: url(../img/sns_twitter.svg) center/cover no-repeat;}
        .img {
            display: block;
            width: 52px;
            height: 52px;
        }
        .tit {
            font-size: 13px;
            text-align: center;
            margin-top: 4px;
            color: #333;
        }
    }
    .linkCopy {
        display: flex;
        align-items: center;
        input {
            flex: 1 0 0;
            display: block;
            height: 46px;
            padding: 8px;
            border-radius: 4px 0 0 4px;
            border: 1px solid #e1e1e1;
        }
        .copyBtn {
            flex: 0 0 auto;
            width: 80px;
            display: block;
            height: 46px;
            margin: 0;
            border-radius: 0 4px 4px 0;
            border: 1px solid #e1e1e1;
            border-left: 0;
            font-size: 13px;
        }
    }
}

.page {
    padding: 36px 0;
    h1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 0;
    }
    .pageDesc {
        font-size: 13px;
        line-height: 162%;
        color: #FFFFFF;
        display: block;
        margin-top: 45px;
        margin-bottom: 10px;
    }
}

.news {
    .news_bbs_wrap {
        padding:0;
        margin-bottom: 45px;
        li {
            padding: 9px 14px;
            background: #394150;
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            height: 50px;
            & + li {
                margin-top: 1px;
            }
            &:hover {
                background-color: #434c5e;
            }
            .news_title {
                flex: 1 0 0;
                overflow:hidden;
                text-overflow:ellipsis;
                -webkit-line-clamp: 2;	
                -webkit-box-orient: vertical;
                display: -webkit-box;
                color: #FFFFFF;
                text-decoration: none;
            }
            .news_date {
                flex: 0 0 70px;
                width: 70px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.news_paging {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-bottom: 85px;
    a {
        width: 34px;
        height: 34px;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #899CB9;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-decoration: none;
        &:hover,
        &.on {
            color: #099BF5;
        }
    }
    dd {
        margin: 0;
    }
    .next_btn {
        background: rgba(255,255,255,0.04) url(../img/nextBtn.svg) center/cover no-repeat;
        &:hover {
            background-color: rgba(255,255,255,0.08);
        }
    }
    dt:last-child .next_btn {
        transform: rotate(180deg);
    }
    .on {

    }
}

.pageDetail {
    padding: 24px 0 20px;
    .tit {
        font-weight: 400;
        font-size: 20px;
        line-height: 162%;
        color: #FFFFFF;
        margin-bottom: 4px;
    }
    .subTit {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 162%;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;
        .author {
            display: flex;
            align-items: center;
            &::after {
                content: '';
                display: inline-block;
                margin: 0 8px;
                width: 1px;
                height: 10px;
                background: rgba(156, 160, 167, 0.5);
            }
        }
        .date {

        }
    }
}
.detailContents {
    .innerFull {
        .text {
            padding: 20px;
            background-color: #394150;
            font-weight: 400;
            font-size: 14px;
            line-height: 162%;
            color: #FFFFFF;
            p {
                margin: 0;
            }
            img {
                display: block;
                max-width: 100%;
                margin: 20px auto;
            }
        }

        .attachWrap {
            margin-bottom: 50px;
        }

        .attachment {
            height: 53px;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 13px;
            line-height: 162%;
            border-bottom: 1px solid #394150;
            margin-bottom: 17px;
            .count {
                color: rgba(255, 255, 255, 0.5);
            }
            .download {
                color: #099BF5;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .attachmentFile {
            padding: 0 20px;
            .item {
                margin-bottom: 10px;
                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 36px;
                    padding: 0 10px;
                    background-color: #394150;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 162%;
                    color: #FFFFFF;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .vol {
                    font-size: 12px;
                    line-height: 162%;
                    color: rgba(255, 255, 255, 0.5);
                    margin-left: 10px;
                }
            }
        }

        .back {
            margin-left: 13px;
            display: inline-flex;
            align-items: center;
            padding-left: 29px;
            background: url(../img/ic_pageBack.svg) left center no-repeat;
            height: 24px;
            font-weight: 400;
            font-size: 14px;
            line-height: 162%;
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.serviceVideo {
    margin-bottom: 45px;
    video {
        width: 100%;
        aspect-ratio: 16/9;
        background-color: #000;
    }
    .disc {
        display: block;
        font-size: 12px;
        line-height: 162%;
        text-align: right;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 8px;
        margin-right: 20px;
    }
}

.gdService {
    .innerFull {
        padding: 0;
    }
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        padding: 14px 20px;
        background-color: #394150;
        font-weight: 400;
        font-size: 13px;
        line-height: 162%;
        color: #FFFFFF;
        .itemImg {
            width: 30%;
            max-width: 160px;
            min-width: 123px;
            aspect-ratio: 123/77;
            flex: 0 0 30%;
        }
        p {
            margin: 0;
            margin-left: 10px;
        }
    }
}

.companyHistory {
    margin-bottom: 56px;
    ul {
        padding: 40px 0;
        background-image: linear-gradient(180deg, #212936 0%, rgba(33, 41, 54, 0) 13.02%, rgba(33, 41, 54, 0) 86.46%, #212936 100%), linear-gradient(180deg, #0077C1 0%, #FDB813 100%);
        background-size: 2px 100%;
        background-position: 6px 0;
        background-repeat: no-repeat;
    }
    li {
        display: flex;
        font-weight: 400;
        font-size: 13px;
        line-height: 142%;
        color: #FFFFFF;
        & + li {
            margin-top: 27px;
        }
        .item p {
            margin:0;
            & + p {
                margin-top: 8px;
            }
        }
        .year {
            padding-left: 31px;
            box-sizing: border-box;
            width: 100px;
            flex: 0 0 100px;
            position: relative;
            font-weight: 700;
            font-size: 13px;
            line-height: 142%;
            &::before {
                content: '';
                position: absolute;
                top: 4px;
                left: 0;
                width: 14px;
                height: 14px;
                border-radius: 14px;
                background-color: #212936;
                border: 4px solid white;
            }
        }
        &:nth-child(1) {
            $itemColor : #1C7FAF;
            .year {color: $itemColor;}
            .year::before{border-color: $itemColor;}
        }
        &:nth-child(2) {
            $itemColor : #35859E;
            .year {color: $itemColor;}
            .year::before{border-color: $itemColor;}
        }
        &:nth-child(3) {
            $itemColor : #4A8A8F;
            .year {color: $itemColor;}
            .year::before{border-color: $itemColor;}
        }
        &:nth-child(4) {
            $itemColor : #6D9377;
            .year {color: $itemColor;}
            .year::before{border-color: $itemColor;}
        }
        &:nth-child(5) {
            $itemColor : #939D5D;
            .year {color: $itemColor;}
            .year::before{border-color: $itemColor;}
        }
        &:nth-child(6) {
            $itemColor : #A7A24F;
            .year {color: $itemColor;}
            .year::before{border-color: $itemColor;}
        }
        &:nth-child(7) {
            $itemColor : #C3A93C;
            .year {color: $itemColor;}
            .year::before{border-color: $itemColor;}
        }
        &:nth-child(8) {
            $itemColor : #C69E2A;
            .year {color: $itemColor;}
            .year::before{border-color: $itemColor;}
        }

    }
}

.issueSection {
    font-weight: 400;
    font-size: 13px;
    line-height: 162%;
    color: #AAB8CE;
    margin-bottom: 92px;
    margin-top: 12px;
    .emptySpace {
        padding-top: 80px;
    }
    .conWrap {
        margin-bottom: 32px;
        h2 {
            font-weight: 700;
            font-size: 16px;
            line-height: 162%;
            color: #FFFFFF;
            margin-bottom: 10px;
        }
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            padding-left: 19px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 8px;
                top: 9px;
                width: 2.5px;
                height: 2.5px;
                border-radius: 2.5px;
                background-color: #AAB8CE;
            }
            & + li {
                margin-top: 8px;
            }
        }
        .blueTit {
            color: #099BF5;
            width: 75px;
            flex: 0 0 75px;
            display: block;
        }
        li:has(.blueTit) {
            display: flex;

            &::before {
                background-color: #099BF5;
            }
        }
    }
    .analyze {
        .subTit {
            font-weight: 400;
            font-size: 13px;
            line-height: 162%;
            color: #099BF5;
            margin-bottom: 5px;
        }
        .tit {
            font-weight: 700;
            font-size: 32px;
            line-height: 132%;
            color: #FFFFFF;
            margin-bottom: 16px;
        }
        table {
            width: 100%;
            table-layout: fixed;
            font-size: 13px;
            line-height: 162%;
            th {
                font-weight: 700;
                color: #FFFFFF;
                padding: 10px 0;
                border-bottom: 1px solid #FFFFFF;
            }
            td {
                padding: 8px 0;
                font-weight: 400;
                color: #AAB8CE;   
                &:first-child {
                    color: #ffffff;
                }
            }
            th,td {
                &:first-child {
                    width: 30%;
                    padding-right: 10px;
                }
            }
            .firstRow td {
                padding-top: 16px;
            }
        }
    }
    .diagram {
        text-align: center;
        background-color: #394150;
        padding: 40px 0;
        margin-top: -16px;
        img {
            width: 100%;
            max-width: 420px;
        }
    }
}

.awardVisual {
    .visualDim {
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.45) 60.94%, rgba(0, 0, 0, 0.60) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50.63%, rgba(0, 0, 0, 0.27) 69.08%, rgba(0, 0, 0, 0.44) 76.26%, rgba(0, 0, 0, 0.59) 86.81%, rgba(0, 0, 0, 0.80) 100%);
    }
    background: url(../img/award/img_awardVisual.jpg) center/cover no-repeat;
    background-attachment: fixed;
    height: 665px;
    color: #fff;
    line-height: 1;
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
    .ci {
        display: block;
        width: 345px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 13px;
    }
    p {
        font-size: 24px;
        margin-bottom: 60px;
    }
}

.awardCon {
    padding-top: 88px;    
    padding-bottom: 112px;
    color: #fff;
    line-height: 1.62;
    h3 {
        font-size: 30px;
        line-height: 1.62;
        margin-bottom: 60px;
    }
    .twoCol {
        border-top: rgba(255,255,255,0.2) 1px solid;
        padding: 20px 0;
        display: flex;
        gap: 15px;
        & + .twoCol {
            margin-top: 20px;
        }
        .left {
            flex: 0 0 240px;
            h4 {
                font-size: 21px;
                line-height: 1.62;
                margin-bottom: 0;
            }
        }
        .right {
            .flex-column {
                display: flex;
                flex-direction: column;
                gap: 6px;
                & + .flex-column {
                    margin-top: 26px;
                }
            }
            b {
                font-weight: normal;
            }
            p {
                font-size: 16px;
                line-height: 1.62;
                color: #AAB8CE;
                margin: 0;
            }
            a {
                color: #099BF5;
            }
            .btnWrap {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
            }
            .download {
                &::before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    background: url(../img/award/ic_download.svg) center no-repeat;
                }
                color: #AAB8CE;
                font-size: 16px;
                padding: 0 24px;
                height: 45px;
                border-radius: 50px;
                border: 1px solid #AAB8CE;
                background-color: transparent;
                display: inline-flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;
                box-sizing: border-box;
            }
            ul {
                padding-left: 24px;
                li {
                    position: relative;
                    color: #AAB8CE;
                    &::before {
                        content: '';
                        width: 3px;
                        height: 3px;
                        background-color: #AAB8CE;
                        border-radius: 50%;
                        position: absolute;
                        top: 11px;
                        left: -15px;
                    }
                }
            }
        }
    }
}


.awardList {
    background-color: #fff;
    padding-top: 88px;
    padding-bottom: 150px;
    margin-bottom: -40px;
    .part {
        margin-bottom: 120px;
    }
    .pageTit {
        margin-bottom: 86px;
        h2 {
            font-size: 42px;
            font-weight: bold;
            margin: 0;
            line-height: 1.62;
        }
        b {
            font-size: 21px;
            line-height: 1.62;
        }
    }
    .partTit {
        font-size: 30px;
        line-height: 1;
        letter-spacing: -0.6px;
    }
    .partTit-en {
        font-size: 16px;
        letter-spacing: 0;
        margin-bottom: 30px;
    }
    .awardContents {
        display: flex;
        gap: 40px;
        .fixedImg {
            img {
                width: 280px;
                position: sticky;
                top: 30px;
            }
        }
        .itemList {
            flex: 1 0 0;
            .item {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 0;
                padding: 20px 0;
                border-top: 1px solid #CCC;
                border-bottom: 1px solid #CCC;
                margin-bottom: -1px;
                width: 100%;
                .top {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;
                    min-height: 36px;
                }
                .name {
                    font-size: 28px;
                    color: #212936;
                    line-height: 1;
                }
                .badge {
                    display: inline-flex;
                    align-items: center;
                    color: #099BF5;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    padding: 0 16px;
                    height: 36px;
                    box-sizing: border-box;
                    border: 1px solid #099BF5;
                    border-radius: 50px;
                }
                em {
                    color: rgba(0, 0, 0, 0.50);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.62;
                }
                p {
                    color: rgba(0, 0, 0, 0.50);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    margin: 0;
                    line-height: 1.62;
                }
            }
        }
    }

}

@media screen and (max-width:991px) {
    .awardCon .twoCol .right ul,
    .awardCon .twoCol .right p {
        font-size: 14px;
    }
    .awardCon .twoCol .right ul li::before {
        top: 9px;
    }
    .awardCon .twoCol .right .download {
        font-size: 14px;
    }
    .awardVisual {
        height: 495px;
    }
    .awardVisual .ci {
        width: 250px;
    }   
    .awardCon h3 {
        font-size: 23px;
        word-break: keep-all;
    }
    .awardList .pageTit h2 {
        font-size: 32px;
    }
    .awardList .pageTit b {
        font-size: 16px;
    }
    .awardList .pageTit {
        margin-bottom: 56px;
    }
    .awardCon .twoCol {
        flex-direction: column;
        .left {
            flex: 0 0 0;
        }
    }
    .awardList .partTit {
        font-size: 21px;
    }
    .awardList .partTit-en {
        font-size: 14px;
    }
    .awardList .awardContents {
        gap: 15px;
        // flex-direction: column;
        .fixedImg img {
            width: 80px;
        }
        .itemList .item {
            padding: 10px 0;
        }
        .itemList .item .name {
            font-size: 18px;
        }
        .itemList .item .badge {
            height: 30px;
            font-size: 13px;
            padding: 0 10px;
        }
        .itemList .item .top {
            gap: 10px;
        }
        .itemList .item p,
        .itemList .item em {
            font-size: 13px;
        }
        
    }
}